.Button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 24px;
  font-weight: bold;
  transition: 250ms;
  background-color: #000000;
  color: #ffffff;
}

.Button:hover {
  transition: 250ms;
}

.Button:active {
  transition: 250ms;
}
