.Button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 24px;
  font-weight: bold;
  transition: 150ms;
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
}

.Button:active {
  transition: 150ms;
  transform: scale(0.97);
}
